.env
__pycache__/
*.py[cod]
*.out
*.log
*.pth
*.bin
*.err
*.safetensors
pretrained_weights/*
!pretrained_weights/readme.txt
experiments/
.cache/
pathbench_env/*
pathomil/*
build/*
config/*
slurm_logs/*
results/old/*
results/patches/*
results/*